html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center; /* テキストを全て中央寄せ */
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em; /* h1のフォントサイズの2倍に*/
  letter-spacing: 1.2em; /* 文字間を1.2倍に */
  text-shadow: 1px 1px 2px rgb(228, 13, 192); /* h1にテキストシャドウを追加 */
  border-bottom: 3px solid rgb(115, 115, 114); /* 下線を追加 */
}

.text-skyblue {
  color: skyblue;
}

.text-pink {
  color: rgb(255, 192, 203);
}

/* "basic"のidを持つdiv内のすべてのp要素を太字にします */
#basic p {
  font-weight: bold;
}

